# Fichiers audio temporaires
temp.wav
enregistrement.wav
*.wav

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/

# VS Code
.vscode/

# Modèles Whisper (trop lourds pour GitHub)
~/.cache/whisper/